* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
}
body {
	color: #e4e5e6;
}
button,
input,
textarea {
	border: none;
	outline: none;
	cursor: pointer;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ---------- ---------- ICONS ---------- ----------- */
.icon {
	display: inline-block;
	width: 40%;
	height: 40%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.icon--play {
	background-image: url('./../assets/icons/play-icon.svg');
}
.icon--white-like {
	background-image: url('./../assets/icons/white-like-icon.svg');
}
.icon--red-like {
	background-image: url('./../assets/icons/red-like-icon.svg');
}
.icon--comments {
	background-image: url('./../assets/icons/comments-icon.svg');
}
.icon--pause {
	background-image: url('./../assets/icons/pause-icon.svg');
}
.icon--previous {
	background-image: url('./../assets/icons/previous-icon.svg');
}
.icon--next {
	background-image: url('./../assets/icons/next-icon.svg');
}
.icon--volume {
	background-image: url('./../assets/icons/volume-icon.svg');
}
.icon--mute-volume {
	background-image: url('./../assets/icons/mute-volume-icon.svg');
}
.icon--repeat {
	background-image: url('./../assets/icons/repeat-icon.svg');
}
.icon--no-repeat {
	background-image: url('./../assets/icons/no-repeat-icon.svg');
}
.icon--exit {
	background-image: url('./../assets/icons/exit-icon.svg');
}

/* ---------- ---------- PLAYER ---------- ---------- */
.player {
	position: relative;
	width: 97.5%;
	max-width: 375px;
	height: 97.5%;
	max-height: 800px;
	padding: 20px;
	border-radius: 50px;
	display: grid;
	grid-template-rows: 1fr auto;
	gap: 1.5rem;
	overflow: hidden;
	/* NEUMORPHISM */
	background: linear-gradient(145deg, #282b32, #21242a);
	box-shadow: 16px 16px 32px #1f2228;
}

.player__comments-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1;
}
.player__comments-container--active {
	display: flex;
}
.player__comments-windows {
	width: 90%;
	height: 75%;
	padding: 1.25rem;
	border-radius: 25px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 1rem;
	/* NEUMORPHISM */
	background: linear-gradient(145deg, #21242a, #282b32);
	box-shadow: 5px 5px 20px #1f2228, -5px -5px 20px #2b2e36;
}
.player__comments-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.player__comments-title {
	font-size: 1.75rem;
}
.player__comments {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	overflow-y: scroll;
}
.player__comment {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}
.player__comment span:nth-child(1) {
	font-size: 1.25rem;
	font-weight: bold;
}
.player__comment span:nth-child(2) {
	color: #a8a8a8;
}
.player__comments-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.player__comments-form textarea {
	resize: none;
	height: 100px;
}
.player__comments-form button {
	padding: 1.25rem;
	font-weight: bold;
	color: #e4e5e6;
	border-radius: 5px;
	/* NEUMORPHISM */
	background: #1f2325;
	box-shadow: inset 3px 3px 6px #1f2228, inset -3px -3px 6px #2b2e36;
}

.player__input {
	width: 100%;
	color: #e4e5e6;
	cursor: text;
	padding: 1.25rem;
	border-radius: 5px;
	/* NEUMORPHISM */
	background: linear-gradient(145deg, #21242a, #282b32);
	box-shadow: 26px 26px 53px #1f2228, -26px -26px 53px #2b2e36;
}

.player__list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	overflow-y: scroll;
}
.player__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.player__item div {
	display: flex;
	gap: 1rem;
}
.player__item span {
	font-size: 1.5rem;
}

.player__controls-and-bar-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.player__bar-container {
	display: flex;
	flex-direction: column;
	gap: 1.75rem;
}
.player__bar::-webkit-slider-runnable-track {
	background-color: #111516;
	height: 0.5rem;
}
.player__bar::-webkit-slider-thumb {
	margin-top: -12px;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	border: 1rem solid #1d2123;
	background-color: #e05d07;
	/* NEUMORPHISM */
	box-shadow: 3px 3px 6px #191c1e, -3px -3px 6px #212628;
}
.player__time-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.player__time-container span {
	font-size: 0.75rem;
}

.player__controls {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.player__btn {
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	/* NEUMORPHISM */
	background: #1f2325;
	box-shadow: inset 3px 3px 6px #1f2228, inset -3px -3px 6px #2b2e36;
}
.player__btn--big {
	width: 6rem;
	height: 6rem;
	/* NEUMORPHISM */
	background: linear-gradient(145deg, #1f2325, #1a1e20);
	box-shadow: 6px 6px 12px #191c1e, -6px -6px 12px #212628;
}
.player__btn--volume {
	position: relative;
}
.player__btn--volume input[type='range'] {
	display: none;
	position: absolute;
	width: 100px;
	bottom: calc(55px + 3rem);
	transform: rotate(-90deg);
}
.player__btn--volume input[type='range']::-webkit-slider-thumb {
	width: 2.5rem;
	height: 2.5rem;
	border: 0.75rem solid #1d2123;
}

.visible {
	display: inline-block !important;
}
